function ruby22() {
  RUBY_MAJOR=2
  RUBY_MID=2
  PREFIX="$HOME"/local
  export GEM_HOME=$PREFIX/gem_home${RUBY_MAJOR}${RUBY_MID}
  ! [ -d "$GEM_HOME" ] && mkdir -p "$GEM_HOME"
  export PATH="/opt/ruby${RUBY_MAJOR}${RUBY_MID}/bin:$GEM_HOME/bin:$PATH"
  export MANPATH="/opt/ruby${RUBY_MAJOR}${RUBY_MID}/share/man:$MANPATH"
}

function ruby23() {
  RUBY_MAJOR=2
  RUBY_MID=3
  PREFIX="$HOME"/local
  export GEM_HOME=$PREFIX/gem_home${RUBY_MAJOR}${RUBY_MID}
  ! [ -d "$GEM_HOME" ] && mkdir -p "$GEM_HOME"
  export PATH="/opt/ruby${RUBY_MAJOR}${RUBY_MID}/bin:$GEM_HOME/bin:$PATH"
  export MANPATH="/opt/ruby${RUBY_MAJOR}${RUBY_MID}/share/man:$MANPATH"
}

function mkbkp () { 
    cp -ai "$1" "$1".$(date +%Y%m%d%H%M%S)
}

function gc_docker() {
  for id in $(docker ps -a | grep -E ' Exited \([0-9]+\)' | gawk '{print $1}') ; do docker rm $id ; done
  for id in $(docker images | grep -E '<none> +<none>' | gawk '{print $3}') ; do docker rmi $id ; done
}

function sssh() {
  echo "Pushing public key to $1"
  ssh-copy-id -i ~/.ssh/id_rsa.pub $1

  echo "Pushing .batchrc to $1"
  scp ~/.bash_aliases $1:~
  scp ~/.functions $1:~
  scp ~/.bashrc_remote $1:~/.bashrc

  if ! grep -q "^host $1 #" .ssh/config
  then
    echo "Adding $1 to .ssh/config"
    echo "host $1 # included from sssh" >> .ssh/config
  fi
  
  echo "Starting connection"
  ssh $1
}
webm2mp4 () {
  ffmpeg -i "$1".webm -qscale 0 "$1".mp4
}    
mp42mp3 () {
  ffmpeg -i "$1".mp4 "$1".mp3
}

docker_registry_tags() {
  image=$(echo "$1" | sed 's/-/\//g')
  curl -u $UOLCORP_USERNAME:$UOLCORP_PASSWORD https://registry.docker.intranet/v2/$image/tags/list
}
