"*":
  core:
    telemetryConsent: "no"
  editor: {}
  "exception-reporting":
    userId: "f736d0ab-316a-4299-bc09-e3b54c2854fa"
  "linter-ui-default": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
