'atom-text-editor':
  'alt-l': 'editor:split-selections-into-lines'
  'alt-ctrl-k': 'seeing-is-believing:annotate-document'
  'alt-ctrl-i,': 'seeing-is-believing:annotate-magic-comments'
  'alt-ctrl-8': 'seeing-is-believing:remove-annotations'

'body':
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'

# For Windows and Linux
'.platform-win32, .platform-linux':
  # Create an empty split pane
  'ctrl-k left':  'pane:split-left'
  'ctrl-k right': 'pane:split-right'
  'ctrl-k up':    'pane:split-up'
  'ctrl-k down':  'pane:split-down'

  # Create a split pane with the current pane item moved into it
  'ctrl-k m left':  'pane:split-left-and-move-active-item'
  'ctrl-k m right': 'pane:split-right-and-move-active-item'
  'ctrl-k m up':    'pane:split-up-and-move-active-item'
  'ctrl-k m down':  'pane:split-down-and-move-active-item'

  # git plus
  'ctrl-1 c':  'git-plus:add-and-commit'
  'ctrl-1 a c':  'git-plus:add-all-and-commit'
  'ctrl-2 c':  'git-plus:checkout'
  'ctrl-2 b n':  'git-plus:new-branch'
  'ctrl-2 b d':  'git-plus:delete-local-branch'
  'ctrl-2 b r d':  'git-plus:delete-remote-branch'
  'ctrl-2 p':  'git-plus:push'
  'ctrl-2 m':  'git-plus:merge-no-fast-forward'

'.editor':
  'ctrl-shift-q': 'editor:toggle-line-comments'
